/*--- Contact section ---*/
.contact{
    background: linear-gradient(216deg,#f7a01f 0%, #fad24a 59%);
    margin-bottom: 75px;
    padding:35px;
    color:#fff;
}
.contact h2{    
    color: #fff;
}

.contact_button a{
    padding:15px;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.contact a:hover{
    color:#fff;
    text-decoration: none;
}