/*--- Founders section ---*/
.founders{
    margin-bottom: 50px;
    padding: 35px;
}

.founders h2{
    margin-bottom: 15px;
}

.founders h3{
    font-size: 1em;
}
.founders i{
    font-size: 0.8em;
}
.founders a{
    margin-top: 20px;
    color: var(--primary-color);
}

.founders a:hover{
    color:var(--primary-color);
    text-decoration: none;
}