
/*--- Mission section ---*/
.mission{
    margin-bottom: 50px;
}
.mission h2{
    margin-bottom: 25px;
}

/*--- Mission section ---*/
.services{
    margin-bottom: 50px;
    padding: 35px;
    background: linear-gradient(208deg, #f7f7f7 56%,rgba(122,122,122,0.24)100%);
}

.services h2{
    margin-bottom: 25px;
}

.services h3{
    font-size: 1em;
}

.services a{
    color: var(--primary-color);
}

.services a{
    color: var(--primary-color);
}

.services a:hover{
    color:var(--primary-color);
    text-decoration: none;
}

/*--- Founders section ---*/
.founders{
    margin-bottom: 50px;
    padding: 35px;
}

.founders h2{
    margin-bottom: 25px;
}

.founders h3{
    font-size: 1em;
}

.founders a{
    color: var(--primary-color);
}

.founders a{
    color: var(--primary-color);
}

.founders a:hover{
    color:var(--primary-color);
    text-decoration: none;
}

/*--- Contact section ---*/
.contact{
    margin:50px;
    padding: 55px;
    color:#fff;
    background: linear-gradient(216deg,#f7a01f 0%, #fad24a 59%); 
}

.contact h2{    
    color: #fff;
}
.contact p{
    margin-bottom: 15px;
}
.contact a{
    margin-top:10px;
    padding:15px;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.contact a:hover{
    color:#fff;
    text-decoration: none;
}
