@import 'footer.css';
@import 'nav.css';
@import 'header.css';
@import 'home.css';



/* ----- VARIABLES ------*/
:root{
    --primary-color:#333;
}
:root{
    --header-heading-color:#fff;
}
:root{
    --social-media-icons:#f7a01f;
}
:root{
    --primary-font:'Poppins';
}
:root{
    --secondary-font:'Montserrat';
}


/* ----- Base components ------*/
h1,h2,h3{
    font-family: 'Poppins';
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

p{
    font-family: var(--secondary-font);
}



