/* ----- VARIABLES ------*/
:root{
    --primary-colors:#333;
}
:root{
    --social-media-icons:#f7a01f;
}
:root{
    --primary-font:'Poppins';
}
h1,h2,h3{
    font-family: 'Poppins';
    color: var(--primary-colors);
}
a{
    text-decoration: none;
}


/*--- Navbar ---*/

.navbar-nav > li > a {
    font-family: var(--primary-font);
    color:var(--primary-colors);
    font-size: 1.2em;
    text-transform: uppercase;
}
.navbar-nav > li > a:hover{
   color: #6b6b6b;
}

.navbar-brand{
    font-family: var(--primary-font);
    font-weight: 600;
}

/*--- Footer ---*/
footer ul h3{
    font-size: 1em;
    font-weight: 600;
}
footer ul li{
    display: inline;
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.fab{
    font-size: 1.8em;
    color:var(--social-media-icons);
}

#social_media li{
    margin-right: 8px;
}
#site_map li a{
    color:var(--primary-colors);
    margin-right: 8px;
}